[DEFAULT]

[dev]

slottr-url=https://www.slottr.com/sheets/1234567
slottr-post-url-type=1

signup-name=Dev name
signup-email=a@b.com
signup-phone=1234567890
signup-condo=123
signup-building-initial=AB
signup-notes=This signup done from script!

timezone-name=America/Vancouver
time-slots-added-hour=12
time-slots-added-minute=30
minutes-early-to-begin=15
minutes-later-to-end=30
seconds-between-attempts=4

desired-year=2020
desired-month=12
desired-day=30
desired-hour=11

[prod]

slottr-url=https://www.slottr.com/sheets/1234567
slottr-post-url-type=1

signup-name=Prod name
signup-email=a@b.com
signup-phone=1234567890
signup-condo=123
signup-building-initial=AB
signup-notes=

timezone-name=America/Vancouver
time-slots-added-hour=12
time-slots-added-minute=30
minutes-early-to-begin=15
minutes-later-to-end=30
seconds-between-attempts=4

desired-year=2020
desired-month=12
desired-day=30
desired-hour=11